# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

.idea

data

src/main/resources/certs/private.pem
src/main/resources/certs/public.pem
